.header {
    background-color: var(--gray-0);
    float: left;
    min-width: 100%;
    min-height: 64px;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: block;
            padding: 20px 0;
        }

        #header_menu {
            #hamburguer_menu {
                display: none;
                width: 40px;
                height: 40px;
                background-color: var(--gray-3);
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: var(--gray-4);
                }

                @media only screen and (max-width: 760px) {
                    & {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                span.line {
                    display: block;
                    text-align: right;
                    height: 2px;
                    width: 20px;
                    border-radius: 4px;
                    background-color: var(--gray-7);
                    position: relative;
                    transition: all 0.2s ease;
    
                    &::before, &::after { 
                        content: "";
                        position: absolute;
                        background-color: var(--gray-7);
                        display: block;
                        height: 2px;
                        width: 20px;
                        border-radius: 4px;
                        top: -8px;
                        transition: all 0.1s linear;
                    }
    
                    &::after {
                        top: 8px;
                    }
                }
            }

            .links_container {
                cursor: default;

                a.link,
                button.link {
                    padding: 10px 0;
                    margin-left: 20px;
                    color: var(--gray-8);
                    font-size: 16px;

                    &:hover {
                        color: var(--c-0-light);
                    }

                    &.link.login {
                        background-color: var(--gray-3);
                        padding: 0.625rem 1.25rem;
                        border-radius: 0.25rem;

                        &:hover {
                            background-color: var(--c-0-dark);
                            color: var(--gray-7);
                        }
                    }
                }

                @media only screen and (max-width: 760px) {
                    & {
                        display: none;
                        position: absolute;
                        min-width: 12.5rem;
                        top: 3.75rem;
                        right: 0.938rem;
                        background-color: var(--gray-1);
                        border-radius: 0.25rem;
                        z-index: 10;

                        .links_wrapper {
                            margin: 0 0.938rem;
                        }

                        a.link,
                        button.link {
                            margin: 0;
                            display: block;
                            padding: 0.938rem 0.313rem;
                            border-bottom: 0.063rem solid var(--gray-3);

                            &.link:nth-child(2), &.login {
                                border-bottom: none;
                            }

                            &.login {
                                margin-top: 0.313rem;
                                margin-bottom: 0.938rem;
                            }
                        }
                    }
                }
            }
        }

        #header_menu.active {
            #hamburguer_menu {
                span.line {
                    background-color: transparent;

                    &::before, &::after {
                        top: 0;
                    }

                    &::before {
                        transform: rotate(45deg);
                    }

                    &::after {
                        transform: rotate(-45deg);
                    }
                }
            }

            @media only screen and (max-width: 760px) {
                .links_container {
                    display: block;
                }
            }
        }
    }
}

.header .navigation .links_container .subscribe_form {
    display: inline-block;

    button.link {
        background-color: transparent;
        color: var(--gray-8);
        font-size: 16px;
        cursor: pointer;
    }
}