#page-home {    
    .intro {
        background-image: url('assets/images/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    
        @media only screen and (max-width: 760px) {
            background-image: url('assets/images/banner-mobile.jpg');
            background-attachment: scroll;
        }
    
        .banner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: inherit;
        }
    
        .intro_title {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--gray-7);
            text-transform: uppercase;
            text-align: center;
        }
    
        .intro_quote {
    
            p {
                position: relative;
                display: block;
                max-width: 13.125rem;
                margin-top: 2.5rem;
                color: var(--gray-7);
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-style: italic;
                font-size: 0.875rem;
                text-align: center;
                line-height: 1.25rem;
    
                &::before, &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 3.75rem;
                    height: 0.125rem;
                    background-color: var(--gray-7);
                    left: 50%;
                    transform: translateX(-50%);
                }
    
                &::before {
                    top: -0.625rem;
                }
    
                &::after {
                    bottom: -0.625rem;
                }
            }
        }
    
        .intro_quoter {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.875rem;
            color: var(--gray-7);
            margin-top: 1.875rem;
            font-style: normal;
        }
    }

    .course {
        margin-top: 2.5rem;
        display: flex;
        align-items: start;
        justify-content: center;

        @media only screen and (max-width: 760px) {
            flex-direction: column;
            align-items: center;
            max-width: 25rem;
        }

        .clean_code_course {
            position: sticky;
            top: 1.25rem;
            display: flex;
            min-width: 22.5rem;
            background-color: var(--gray-0);
            border: 0.063rem solid var(--c-1-dark);
            border-radius: 0.25rem;

            @media only screen and (max-width: 760px) {
                position: static;
                width: 100%;
                max-width: 22.5rem;
                min-width: 0;
            }

            .clean_code_cover {
                min-width: 80px;
            }

            .clean_code_info {
                padding: 1.25rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .clean_code_title {
                    font-size: 0.875rem;
                    font-weight: bold;
                    text-transform: uppercase;

                    &::after {
                        content: "";
                        display: block;
                        width: 1.875rem;
                        height: 0.125rem;
                        background-color: var(--gray-7);
                        margin-top: 0.313rem;
                    }
                }

                .clean_code_items {
                    display: flex;
                    flex-wrap: wrap;

                    p {
                        font-size: 0.875rem;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        color: var(--gray-5);
                        margin-right: 1.563rem;
                        position: relative;

                        @media only screen and (max-width: 380px) {
                            padding-top: 0.313rem;
                        }

                        &.clean_code_certificate {
                            margin-right: 0px;
                        }

                        &.clean_code_hours::before, &.clean_code_hours::after {
                            content: "";
                            position: absolute;
                            display: block;
                            width: 0.313rem;
                            height: 0.313rem;
                            border-radius: 50%;
                            background-color: var(--c-0-light);
                            top: 50%;
                            transform: translateY(-50%);

                            @media only screen and (max-width: 380px) {
                                display: none;
                            }
                        }

                        &.clean_code_hours::before {
                            left: -0.813rem;

                        }

                        &.clean_code_hours::after {
                            right: -0.813rem;
                        }
                    }
                }
            }
        }

        .clean_code_description {
            margin-left: 2.5rem;
            max-width: 30.313rem;

            @media only screen and (max-width: 760px) {
                margin-top: 2.5rem;
                margin-left: 0px;
            }

            > h3 {
                font-size: 0.875rem;
                font-weight: bold;
                margin-top: 1.25rem;
                &:first-child {
                    margin-top: 0px;
                }
            }

            > p {
                font-size: 0.875rem;
                font-family: Georgia, 'Times New Roman', Times, serif;
                line-height: 1.25rem;
                color: var(--gray-5);
                margin-top: 0.625rem;
            }
        }
    }

    .plan {
        background-color: var(--gray-3);
        margin-top: 2.5rem;
        padding-top: 2.5rem;
        display: flex;
        align-items: center;

        .plan_subscription_title {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }

        .plan_subscription_subtitle {
            font-size: 0.875rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: var(--gray-6);
            margin-top: 0.625rem;
            text-align: center;
        }

        .plan_card {
            display: block;
            margin-top: 1.25rem;
            padding: 1.25rem;
            border: 0.063rem solid var(--c-1-dark);
            background-color: var(--gray-0);
            border-radius: 4px;
            width: 18.625rem;

            @media only screen and (max-width: 380px) {
                width: 100%;
                max-width: 18.625rem;
                min-width: 0;
            }

            .plan_benefits {
                margin-top: 0.625rem;

                > li {
                    display: flex;
                    align-items: center;
                    padding: 0.625rem 0;
                    border-bottom: 0.063rem solid var(--c-1-dark);
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 1rem;
                    line-height: 1.438rem;
                    color: var(--gray-6);

                    &::before {
                        content: "";
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        background-image: url('assets/images/check-icon.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-right: 0.625rem;
                    }
                }
            }

            .plan_price {
                display: block;
                text-align: center;
                font-size: 1.5rem;
                margin-top: 20px;
                color: var(--gray-8);
            }

            .plan_subscription_btn {
                display: block;
                margin: 1.25rem auto 0 auto;
                padding: 0.625rem 2.5rem;
                font-size: 1rem;
                border-radius: 0.25rem;
                background-color: var(--c-0-dark);
                color: var(--gray-8);
                text-align: center;
                cursor: pointer;
            }
        }

        .payment_methods_wrapper {
            &::after {
                content: "";
                display: block;
                width: 1.25rem;
                height: 0.125rem;
                margin: 1.25rem auto 2.5rem auto;
                background-color: var(--gray-5);
            }

            .payment_methods_list {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2.5rem;
    
                li {
                    position: relative;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    font-size: 0.875rem;
                    margin-right: 1.563rem;
                }

                li:last-child {
                    margin-right: 0;
                }
    
                li:nth-child(2) {
                    &::before, &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 0.313rem;
                        height: 0.313rem;
                        background-color: var(--c-0-light);
                        border-radius: 50%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
    
                    &::before {
                        left: -0.938rem;
                    }
    
                    &::after {
                        right: -0.938rem;
                    }
                }
            }
        }
    }
}