body.home .header {
    background-color: rgba(0, 0, 0, 0.8);
}

#page-home {    
    .title {
        font-size: 40px;
        line-height: 48px;
        font-weight: bold;
        text-align: center;
    }
    
    .title_separator::after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        margin: 10px auto 0 auto;
        border-radius: 4px;
        background-color: var(--gray-4);
    }

    .banner {
        background-image: url('assets/images/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
    
        @media only screen and (max-width: 760px) {
            background-image: url('assets/images/banner-mobile.jpg');
            background-attachment: scroll;
        }
    
        .intro {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .intro_title {
            margin-top: 40px;
            text-transform: uppercase;

            @media screen and (max-width: 760px) {
                font-size: 24px;
                margin-top: 24px;
                line-height: 28.8px;
            }
        }
    
        .intro_quote {
            position: relative;
            display: block;
            max-width: 280px;
            margin: 30px auto;
            font-size: 16px;
            line-height: 24px;
            color: var(--gray-6);
            font-family: "PT Serif", serif;
            font-style: italic;
            text-align: center;

            @media only screen and (max-width: 760px) {
                font-size: 14px;
                line-height: 21px;
            }

            &::before, &::after {
                content: "";
                position: absolute;
                display: block;
                width: 30px;
                height: 2px;
                border-radius: 4px;
                background-color: var(--gray-5);
                left: 50%;
                transform: translateX(-50%);
            }

            &::before {
                top: -10px;
            }

            &::after {
                bottom: -10px;
            }
        }
    
        .intro_quoter {
            display: block;
            font-size: 14px;
            color: var(--gray-8);
            font-style: normal;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;

            @media only screen and (max-width: 760px) {
                font-size: 12px;
                line-height: 16.8px;
            }
        }

        .intro_call_to_action button {
            margin: 60px auto 0 auto;
        }

        .course_info_wrapper {
            background-color: var(--gray-3);
            color: var(--gray-8);
            width: fit-content;
            margin: 0 auto;
            padding: 10px 20px;
            border-radius: 4px;
            margin-top: 40px;
            transform: translateY(50%);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
        }
    }

    .course_info_wrapper ul,
    .course_info_wrapper li,
    .payment_methods,
    .payment_methods li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'PT Serif', serif;
    }

    .course_info_wrapper ul li:nth-child(2)::before,
    .course_info_wrapper ul li:nth-child(2)::after,
    .payment_methods li:nth-child(2)::before,
    .payment_methods li:nth-child(2)::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #9be564;
        margin: 0 16px;
    }

    .course_section {
        margin-top: 75px;

        .course_wrapper {
            display: grid;
            grid-template-columns:  repeat(2, minmax(300px, 400px));
            align-items: start;
            justify-content: center;
            margin-top: 40px;
            gap: 40px;

            @media screen and (max-width: 760px) {
                grid-template-columns: minmax(0, 360px);
            }
        }

        .course_card {
            justify-self: end;
            position: relative;
            display: block;
            background-color: var(--gray-1);
            width: 100%;
            padding: 24px;
            border-radius: 4px;

            @media screen and (max-width: 760px) {
                margin: 0 auto;
            }

            &:hover {
                background-color: var(--gray-0);
            }

            .beta {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                font-size: 12px;
                padding: 5px 10px;
                border-radius: 4px;
                border: 2px solid #9be564;
                color: #9be564;
            }

            h3 {
                font-family: 'PT Serif', serif;
                text-transform: uppercase;
                font-size: 24px;
                line-height: 28.8px;
            }

            p {
                font-family: 'PT Serif', serif;
                font-style: italic;
                color: var(--gray-5);
                font-size: 14px;
                line-height: 21px;
            }

            ul {
                display: flex;
                align-items: center;
                margin-top: 16px;
            }

            ul li {
                font-family: 'PT Serif';
                color: var(--gray-6);
            }

            ul li:nth-child(2) {
                display: flex;
                align-items: center;
                margin: 0 16px;
            }

            .watch_icon {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: 24px;
                padding: 10px;
                background-color: var(--gray-3);
                border-radius: 4px;
                transition: .2s ease;

                @media screen and (max-width: 760px) {
                    display: none;
                }

                img {
                    max-width: 24px;
                }
            }
        }

        .keywords {
            li {
                display: flex;
                align-items: center;
                font-family: "PT Serif", serif;
                padding: 10px;
                color: var(--gray-6);

                &:nth-child(odd) {
                    background-color: var(--gray-3);
                    border-radius: 4px;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 2px;
                    background-color: var(--c-0-light);
                    margin-right: 10px;
                }
            }
        }

    }

    .video_wrapper {
        background-color: var(--gray-3);
        margin-top: 60px;
        padding: 60px 0;

        .video {
            margin-top: 40px;
            border-radius: 4px;
            overflow: hidden;
        }
    }

    .pricing_wrapper {
        padding: 60px 0;
    }

    .pricing_wrapper .pricing_card_wrapper {
        width: fit-content;
        margin: 40px auto;
    }

    .payment_methods {
        margin: 0 auto;
    }
}