.slide-wrapper {
    height: 100%;
    overflow: hidden;
    padding: 10px 0;
}
  
.slide {
    display: flex;
}

.slide li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 760px;
    margin: 0 20px;
    opacity: .6;
    transform: scale(.8);
    transition: .4s;
}

.slide li .slide_name {
    text-align: center;
    color: var(--gray-5);
}

.slide li .slide_title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.slide li .img {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    max-height: 550px;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);

    @media screen and (max-width: 760px) {
        max-height: 300px;
    }
}

.slide li .github_link {
    display: block;
    text-align: center;
    a {
        display: inline-block;
        padding: 10px 0;
        text-decoration: underline;
        &:hover {
            color: var(--c-0-light);
        }
    }
}

.slide li .img {
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
        @media screen and (max-width: 760px) {
            width: 5px;
        }
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--gray-3);
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--gray-4);
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--gray-plus);
    }
}
  
@media screen and (max-width: 760px) {
    .slide li {
        width: 95vw;
    }
}
  
.slide img {
    display: block;
    max-width: 100%;
}
  
.slide li.active {
    opacity: 1;
    transform: scale(1);
}
  
.custom-controls {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
  
.custom-controls li {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: 3px solid var(--c-0-light);
    border-radius: 50%;
    opacity: .5;
    margin: 2px;
    background-color: transparent;
    transform: scale(.8);
    transition: .3s;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}
  
.custom-controls li.active {
    opacity: 1;
    transform: scale(1);
}