body.privacy-policy {
    background-color: var(--gray-8);

    #footer_component {
        margin-top: 40px;
    }

    .content {
        h2 {
            color: var(--gray-0);
            font-size: 24px;
            margin-top: 40px;
        }
    
        p {
            font-size: 16px;
            line-height: 24px;
            margin-top: 16px;
        }
    
        p, li {
            color: var(--gray-2);
        }
    
        ul {
            margin-top: 16px;
        }
    
        ul li {
            list-style: square;
            font-size: 16px;
            line-height: 28.8px;
            margin-left: 32px;
        }
    }

}