body.woocommerce-page {
    background-color: var(--gray-3);   
}

.woocommerce {
    margin-top: 40px;
    margin-bottom: 40px;
}

.woocommerce h2,
.woocommerce h3 {
    &::before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 10px; 
        border-radius: 4px;
        background-color: var(--gray-4);
    }
}

.woocommerce-error,
.woocommerce-message,
.woocommerce-info {
    background-color: #eee;
    color: var(--gray-0);
    border: none;
    border-left: 4px solid;
    padding: 15px 20px;
    line-height: 27px;

    a {
        color: var(--gray-0);
    }

    &::before {
        display: none;
    }
}

.woocommerce-error {
    border-color: #f25c54;
}

.woocommerce-message,
.woocommerce-info {
    border-color: #9be564;
}

.woocommerce-error a,
.woocommerce-message a,
.woocommerce-info a {
    text-decoration: underline;
}

.woocommerce label {
    color: var(--gray-6);
}

.woocommerce-Input.woocommerce-Input--text.input-text,
.woocommerce-Input.woocommerce-Input--email.input-text,
.woocommerce-Input.woocommerce-Input--password.input-text,
.woocommerce-input-wrapper .input-text,
span.select2-selection {
    padding: 15px 10px;
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--gray-2);
    color: var(--gray-8);
    box-shadow:  0 0 0 1px rgb(0, 0, 0);
}

.woocommerce-Input.woocommerce-Input--email.input-text.disable-input,
.woocommerce-Input.woocommerce-Input--text.input-text.disable-input {
    color: var(--gray-plus);
    background-color: var(--gray-0);
    box-shadow: none;
}

.woocommerce-Input.woocommerce-Input--text.input-text.disable-input:focus {
    box-shadow: none;
}

.woocommerce-Input.woocommerce-Input--text.input-text:focus,
.woocommerce-input-wrapper .input-text:focus {
    box-shadow: 0 0 3px 1px var(--c-0-light);
}

.woocommerce form .form-row .required,
abbr.required {
    display: none;
}

.woocommerce-page .woocommerce .woocommerce-Button.button {
    margin-top: 20px;
    color: var(--gray-1);
}

.woocommerce-page .woocommerce .woocommerce-info .woocommerce-Button.button {
    margin-top: 0;
}

.woocommerce form .form-row.woocommerce-validated input.input-text {
    border: 1px solid var(--gray-6);
}

.woocommerce form .form-row {
    padding: 3px 0;
}

.select2-container .select2-selection--single {
    height: unset;
    padding: 12px 2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

.select2-container--default {
    width: 100% !important;
}

address {
    line-height: 27px;
}

.woocommerce-checkout #payment {
    background-color: var(--gray-8);
}

.woocommerce-checkout #payment div.payment_box::before {
    border: 1em solid #e8ebed;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.woocommerce-checkout #payment div.payment_box {
    background-color: #e8ebed;
}

#wc-rm-pagbank-cc-form label {
    font-size: 14px;
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce-checkout #payment div.payment_box input.input-text,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number,
#wc-rm-pagbank-cc-form .input-text {
    padding: 15px 10px;
    border-radius: 4px;
    font-size: 16px;
}

.woocommerce-privacy-policy-text,
.woocommerce-privacy-policy-text a {
    font-size: 14px;
    line-height: 19.6px;
    color: var(--gray-3);
}

.woocommerce-privacy-policy-text a {
    text-decoration: underline;
    color: var(--gray-1);
    &:hover {
        color: var(--c-0-light);
    }
}

#place_order {
    font-weight: normal;
    background-color: var(--c-0-dark);
    font-size: 18px;
    margin-top: 18px;
    padding: 15px 0;
    width: 100%;
    transition: .2s ease;

    &:hover {
        transform: scale(1.03);
    }
}
